<!DOCTYPE html>
<html>
  <head>
    <title>InakichiBlogapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  // 共通化されたテンプレート
  // 共通化する部分はここに書いていく
    <%= yield %>
  </body>
</html>
